@model RegisterModel

<h1 class="heading-text">Add New User</h1>

<form class="form-horizontal settings-form" asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Login" class="col-sm-3 control-label">Login</label>
        <div class="col-sm-9">
            <input class="form-control" placeholder="Login" asp-for="Login" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input class="form-control" placeholder="Password" asp-for="Password" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-sm-3 control-label">ConfirmPassword</label>
        <div class="col-sm-9">
            <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
            <input class="form-control" placeholder="Password" asp-for="ConfirmPassword" />
        </div>
    </div>

@Html.Partial("Buttons")
</form>




